@layer components {
  .container {
    @apply mx-auto w-full max-w-[120rem] xl:max-w-[95vw];
  }

  .container-big {
    @apply mx-auto w-full max-w-[138rem] xl:max-w-[95vw]
  }

  .container-bg {
    @apply rounded-[2.5rem] bg-white bg-opacity-10 backdrop-blur-[8.5px] border-[1px] border-white border-opacity-[15%]
  }

  .text-smallest {
    @apply text-[1.2rem] leading-[160%] tracking-[0.36px];
  }

  .text-small {
    @apply text-[1.4rem] leading-[3.4rem] tracking-[0.48px] md:text-[1.2rem];
  }

  .text-medium {
    @apply text-[1.6rem]  leading-[3.4rem] tracking-[0.48px] md:text-[1.4rem];
  }

  .text-big {
    @apply text-[1.8rem] leading-[160%] tracking-[0.48px] md:text-[1.6rem];
  }

  .text-bigger {
    @apply text-[2.2rem] leading-[160%] tracking-[0.66px];
  }

  .heading-smaller {
    @apply text-[2.6rem] font-semibold leading-[180%] tracking-[0.078rem];
  }

  .heading-small {
    @apply font-bebas text-[3.2rem] uppercase leading-[120%];
  }

  .heading-medium-small {
    @apply font-bebas text-[3.4rem] uppercase leading-[120%];
  }

  .heading-medium-semi {
    @apply font-bebas text-[3.6rem] uppercase leading-[120%]
  }

  .heading-medium {
    @apply font-bebas text-[4.2rem] uppercase leading-[120%];
  }

  .heading-big {
    @apply font-bebas text-[5rem] uppercase leading-[120%] lg:text-[3.5rem] sm:text-[3rem] xs:text-[2.5rem];
  }

  .heading-biggest {
    @apply font-bebas text-[6.8rem] uppercase leading-[120%] lg:text-[4.5rem] sm:text-[4rem] xs:text-[3rem];
  }

  .heading-titlecase {
    @apply text-[9.1rem] text-white leading-[120%] font-bebas uppercase
  }
}

@layer base {
  .borderline {
    @apply border-[1px] border-white border-opacity-[15%];
  }

  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .transition-standard {
    transition: 0.25s ease all;
  }

  .scroll-hidden {
    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2  -translate-x-1/2 -translate-y-1/2;
  }
}
