@import "./base/tailwind.scss", "./fonts/fonts.scss", "./base/utilities.scss",
  "./base/animations.scss";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0;
}

html {
  font-size: 62.5%;

  font-family: "Mona Sans", sans-serif;
}

body {
  @apply relative overflow-x-hidden min-w-max min-h-max ;
}

img {
  @apply block max-w-full;
}
