@import "./base/tailwind.scss", "./fonts/fonts.scss", "./base/utilities.scss",
"./base/animations.scss";

@import './layouts.scss';

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0;
}

html {
  font-size: 77.5%;

  font-family: "Mona Sans", sans-serif;

  @apply scroll-smooth;

  @media (max-width: 1440px) {
    font-size: 62.5%;
  }
}

body {
  @apply relative min-h-screen w-screen max-w-[100vw] overflow-x-hidden text-white;
}

#app {
  max-width: 100%;
  overflow-x: hidden;
}
